body {
  background-color: #fff;
  color: #6c6c6f;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px; }

a {
  text-decoration: none; }
  a:hover {
    color: #ff817e !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rufina', serif;
  font-weight: 700; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  padding: 50px 0; }

.navbar {
  z-index: 1; }
  .navbar .nav-item {
    color: #263a41;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
  .navbar .navbar-toggler {
    border: 0;
    padding: 4px, 30px; }
    .navbar .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255,129,126, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 8h24M4 16h24M4 24h24"/%3E%3C/svg%3E'); }

.banner {
  background-image: url(../../images/banner/leaf.png);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 12.5%;
  padding: 8% 0;
  position: relative; }
  .banner__spa-image {
    display: none; }
  .banner__title {
    color: #ff817e;
    font-family: "Rufina";
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .banner__heading {
    color: #1e2528;
    font-size: 49px;
    line-height: 60px;
    margin-top: 25px; }
  .banner__desc {
    color: #888;
    margin-bottom: 50px;
    margin-top: 17px; }
  .banner__btn {
    background-color: #ff817e;
    border: 1px solid #ff817e;
    border-radius: 50px;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase; }
    .banner__btn:hover {
      background-color: #fff;
      border-color: #ff817e;
      color: #ff817e;
      text-decoration: none; }
  .banner__video-btn {
    color: #555;
    margin-left: 11px; }
    .banner__video-btn:hover {
      color: #ff817e; }
    .banner__video-btn__title-play {
      color: #ff817e;
      font-family: "Rufina";
      font-weight: 400;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 15px; }
      .banner__video-btn__title-play:hover {
        text-decoration: underline; }

@media screen and (min-width: 768px) {
  .banner__spa-image {
    display: block;
    position: absolute;
    right: 0;
    top: -103px;
    width: 43.4%; } }

.about {
  position: relative; }
  .about__img {
    margin-bottom: 165px; }
    .about__img__flower-rose {
      position: absolute;
      left: 16%;
      min-width: 160px; }
  .about__abt > img {
    position: absolute;
    top: 0;
    left: 70%; }
  .about__abt__tagline {
    color: #888;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.8;
    margin-bottom: 27px;
    text-transform: uppercase; }
  .about__abt__sec-title {
    color: #1e2528;
    font-size: 33px;
    margin-bottom: 32px; }
  .about__abt__desc {
    color: #888;
    font-weight: 400; }
  .about__read-more__btn {
    background-color: #ff817e;
    border: 1px solid #ff817e;
    border-radius: 50px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    width: 170px; }
    .about__read-more__btn:hover {
      background-color: #fff;
      border-color: #ff817e;
      color: #ff817e;
      text-decoration: none; }
